[Unit]
Description=Festa Junina ORDERS microservice
ConditionPathExists=/home/daniel/golang/runtime/festajunina/fjapiorders
After=network.target

[Service]
Type=simple
User=
Group=
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/daniel/golang/runtime/festajunina/fjapiorders
ExecStart=/home/daniel/golang/runtime/festajunina/fjapiorders/fjapiorders

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/restapiordersX
ExecStartPre=/bin/chown syslog:adm /var/log/restapiordersX
ExecStartPre=/bin/chmod 755 /var/log/restapiordersX
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fjapiorders

[Install]
WantedBy=multi-user.target

