{{ define "forgotpassworddetail" }}
    <div id="header" class="navbar navbar-left" id="navbar">
        <a href="/" class="ui green button">Home</a>
    </div>
    <h2>Forgotten Password</h2>

    Email Address:
    <p/>
    <input type="email" id="username" name="username" placeholder="Email address" >
    <p/> 
    <button onclick="requestCode() ">Request Code</button>

    <p/> Enter Code Sent Via Email:
    <p/>
    <input type="text" id="codeviaemail" name="codeviaemail" placeholder="Code via email">
    <p/> Enter New Password:
    <p/>
    <input type="password" id="password" name="password" placeholder="Password">
    <p/> Re-type New Password:
    <p/>
    <input type="password" id="passwordvalidate" name="passwordvalidate" placeholder="Password">
    <p/>
    <p/>
    <button onclick="changePassword()">Submit</button>

    <p/>

    <p>If already registered, login instead:</p>
    <a href="/login" class="ui green button">Click Here to Login</a>

    <p/>
    <p/>
    <input type="text" id="message" name="message" value={{ .Info.Message }}>
    <p/>

    <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/restauranteui.js"></script>
    <script type="text/javascript" src="js/danbtcmarkets.js"></script>
    <script type="text/javascript" src="js/fjsecurity.js"></script>

</body>

{{ end }}