{{ define "listtemplate" }}

<form action="Submit" method="POST" />

    <h3>{{ .Info.Name }}</h3>
    <div id="header" >
        <button type="submit" formaction="/activityadddisplay" value="Add" class="ui teal button">Add activity</button>
        <button type="submit" formaction="/activityupdatedisplay" value="Update" class="ui teal button">Update</button>
        <button type="submit" formaction="/activitydelete" value="Delete" class="ui teal button">Delete</button> 
    </div>
    <div style="float:left;" class="table-responsive">
        <p>
            <table class="table table-striped table-bordered">
                <tr>
                    <th><b>#</b></th>
                    <th><b>Name</b></th>
                    <th><b>Type</b></th>
                    <th><b>Description</b></th>
                    <th><b>Status</b></th>
                    <th><b>Start Date</b></th>
                    <th><b>End Date</b></th>
                    <!-- <th><b>Make Active</b></th> -->
                </tr>
                {{range .Activities }}
                <tr>
                    <td>
                        <input type="checkbox" name="activities" value="{{ .Name }}" unchecked>
                    </td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Type }}</td>
                    <td>{{ .Description }}</td>
                    {{if eq .Status "ACTIVE" }}
                    <td><a href="/activityviewdisplay?activityid={{ .Name }}" class="ui green button">{{ .Status }}</a></td>
                    {{ else }}
                    <td><a href="/activityviewdisplay?activityid={{ .Name }}" class="ui yellow button">{{ .Status }}</a></td>
                    {{ end }}
                    <td>{{ .StartDate }}</td>
                    <td>{{ .EndDate }}</td>
                </tr>
                {{end}}
            </table>
        </p>
        <p/>
        <div id="footer" >
            <button type="submit" formaction="/activityadddisplay" value="Add" class="ui teal button">Add activity</button>
            <button type="submit" formaction="/activityupdatedisplay" value="Update" class="ui teal button">Update</button>
            <button type="submit" formaction="/activitydelete" value="Delete" class="ui teal button">Delete</button> 
        
        </div>
    </div>
</form>
{{end}}