{{define "listtemplate"}}

<h1>Update Activity</h1>
<form method="POST" action="/activityupdate">
    <div>

        <br><b>Availability: </b>
        <p/>
        <select name="activitytype" id="activitytype" >
            {{ if eq .Item.ActivityType "Every Event"}}
               <option selected="selected">Every Event</option>
            {{ else }}
                <option value="Every Event">Every Event</option>
            {{ end }}
            {{ if eq .Item.ActivityType "Feijoada"}}
               <option selected="selected">Feijoada</option>
            {{ else }}
                <option value="Feijoada">Feijoada</option>
            {{ end }}
            {{ if eq .Item.ActivityType "Caldo Verde"}}
               <option selected="selected">Caldo Verde</option>
            {{ else }}
                <option value="Caldo Verde">Caldo Verde</option>
            {{ end }}
            {{ if eq .Item.ActivityType "Picanha"}}
               <option selected="selected">Picanha</option>
            {{ else }}
                <option value="Picanha">Picanha</option>
            {{ end }}
            {{ if eq .Item.ActivityType "Not Available"}}
               <option selected="selected">Not Available</option>
            {{ else }}
                <option value="Not Available">Not Available</option>
            {{ end }}
        </select>
        <br>

        <br><b>Type: </b>
        <p/>
        <select name="activitytype" id="activitytype">
            {{ if eq .Item.Type "Sweet"}}
                <option selected="selected">Sweet</option>
            {{ else }}
                <option value="Sweet">Sweet</option>
            {{ end }}

            {{ if eq .Item.Type "Drink"}}
                <option selected="selected">Drink</option>
            {{ else }}
                <option value="Drink">Drink</option>
            {{ end }}

            {{ if eq .Item.Type "Savoury"}}
                <option selected="selected">Savoury</option>
            {{ else }}
                <option value="Savoury">Savoury</option>
            {{ end }}
        </select>
        <br>

        <p/> <b> Name:</b>
        <p/>
        <input type="text" name="activityname" value="{{ .Item.Name }}">

        <p/> <b>Description:</b>
        <p/>
        <input type="text" id="activitydescription" name="activitydescription" value="{{ .Item.Description }}">


        <p/>
        <input type="submit" formaction="/activityupdate" value="Submit">
        <p/>
    </div>
</form>

{{end}}